@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'jakarta';
    src: url("../assets/plus_jakarta_sans/PlusJakartaSans-VariableFont_wght.ttf");
    font-display: swap;
}

body {
    font-family: 'jakarta', sans-serif;
}